<html xmlns='http://www.w3.org/1999/xhtml' lang='hu'>
  <head>
    <meta charset='UTF-8' />
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    <meta name='x-apple-disable-message-reformatting' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta content='telephone=no' name='format-detection' />
    <title>Üdvözlünk a Ticketpond-on! 👋</title>
    <style>
      body{ font-family: Arial, sans-serif; } a {color: #6153cc;} a.button{ background-color: #6153cc; color: white;
      padding: 10px 20px; border-radius: 5px; text-decoration: none; } div.footer{ margin-top: 50px; } p{ margin: 20px
      0; }
    </style>
  </head>
  <body>
    <div>
      <p>Szia, {{firstName}} 👋</p>
      <p>Üdvözlünk a Ticketpond-on! Először is szeretnénk megköszönni és gratulálni, hogy a jegyértékesítés új
        korszakába léptél.</p>
      <p>A Ticketpond-on élményeket találsz, amelyek különböző eseményeket és helyszíneket jelentenek, legyen ez
        koncert, fesztivál vagy edzőterem. Az élményekhez jegyet tudsz vásárolni, egy kosárban többféle élményhez is
        akár.</p>
      <p>Célunk, hogy a lehető legkényelmesebb legyen az utad az élmények keresésétől a hazaérkezésik. Éppen ezért a
        vásárlási folyamat két lépésből áll: kosárba tétel és fizetés. Csak ennyi. A megvásárolt belépőjegyedet
        digitális alapokra helyeztük, így mindig veled lesznek.
      </p>
      <a class='button' href='http://localhost:3000'>Fedezzük fel!</a>
      <div class='footer'>
        <p>Üdvözlettel,</p>
        <p>A Ticketpond csapata</p>
      </div>
    </div>
  </body>
</html>